
.head{
  display: flex;
  justify-content: space-between;
  margin:10px;
  border: 1px solid black;

}
.navbar>ul{
  list-style-type: none;
  display: flex;
}
.navbar>ul>li{
  padding: 10px;
}
.logo{
  width: 100px;
}
.cards{
  border: 2px solid grey;
  word-wrap: break-word;
  width: 200px;
  height: 400px;
  margin: 3px;
}
.cards:hover{
  border: 3px solid black;
  cursor: pointer;
  background-color: rgb(224, 220, 220);
}
.restaurant-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.shimmer-card{
  width: 200px;
  height: 400px;
  border: 1px solid black;
  margin:3px;
  background-color: #F0F0F0;
}
.shimmer-cointainer{
  display: flex;
  flex-wrap: wrap;
}