
.head{
  display: flex;
  justify-content: space-between;
  margin:10px;
  border: 1px solid black;

}
.navbar>ul{
  list-style-type: none;
  display: flex;
}
.navbar>ul>li{
  padding: 10px;
}
.logo{
  width: 100px;
}
.dir{
  border: 2px solid grey;
  width: 150px;
  margin: 10px;
}
.dir:hover{
  border: 3px solid black;
  cursor: pointer;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}